.game-board {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    justify-content: center;
}

.field {
    background-color: #d9d9d9;
    border: 4px solid black;
}